<div id="home" class="container">
	<div class="row">
		<div class="col-md-4 col-lg-4">
			<img src="assets/img/myfaceblue.png" class="img-responsive center-block" style="max-width: 300px" />
		</div>
		<div class="col-md-8 col-lg-8" style="font-family: Lato;">
			<h3 style="margin: 0px 0px 5px 0px;">About Me</h3>
			<p>My name is Eric. I'm a software engineer with skills that touch all different types of development. I originally built
				this site because I wanted to mess around with Bootstrap and making my future websites mobile ready. Now that that's
				done I'm at a loss for what kind of content to put on here. I guess you'll just have to settle for a list of the most
				common technologies I work with along with the common links I use for them everyday.</p>
			<p>Some day I will come in here and put meaningful content and make the navbar work, but today is not that day.</p>
			<h3 style="margin: 0px 0px 5px 0px;">Technologies</h3>
			<div class="container-fluid">
				<ul style="padding: 0px">
					<div class="col-md-6" style="max-width: 200px;">
						<li><a href="https://www.java.com/" class="link_text">Java</a></li>
						<li><a href="http://www.ecma-international.org/publications/files/ECMA-ST/Ecma-334.pdf">C#</a></li>
						<li><a href="https://www.python.org/">Python</a></li>
						<li><a href="http://www.w3schools.com/html/default.asp">HTML</a>/<a href="http://www.w3schools.com/css/default.asp">CSS</a>/<a
								href="http://www.w3schools.com/js/default.asp">JS</a></li>
						<li><a href="http://php.net/">PHP</a></li>
					</div>
					<div class="col-md-6" style="max-width: 200px;">
						<li><a href="http://getbootstrap.com/">Bootstrap</a></li>
						<li><a href="https://www.microsoft.com/net">.NET</a></li>
						<li><a href="http://blogs.technet.com/b/heyscriptingguy/">Powershell</a></li>
						<li><a href="http://www.ansible.com/">Ansible</a></li>
						<li><a href="https://www.mysql.com/">MySQL</a>/<a href="https://www.microsoft.com/en-us/server-cloud/products/sql-server/">MSSQL</a></li>
					</div>
				</ul>
			</div>
		</div>
	</div>
</div>