<div class="container">
  <div class="col-xs-12 centered gallery-title" style="text-align: center;">
    <h3>It may seem silly to have a game gallery for only one game, but I promise I'm future proofing here.</h3>
  </div>
  <a routerLink="/snake">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 gallery-entry centered">
        <img src="assets/img/snakeV1.png" class="img-responsive center-block" style="max-width: 300px" style="position: relative;"/>
        Snake V1
    </div>
  </a>
</div>