<div class="container">
    <canvas id="cnvs" height="200px" width="400px" style="border:1px solid #000000; background-color: white;"></canvas>
    <div class="col-sm-6">
        <b>Controls:</b><br/>
        <div>Move: Arrow Keys</div>
        <div>Restart: R</div>
    </div>
    <div class="col-sm-6">
        <b>About:</b><br/>
        The classic game snake made in Typescript with Angular2 using the HTML5 canvas. There is a lot of work left to-do, but this will soon be replaced by version two with a non-extending tail and a leaderboard.
        I wrote the game code to be able to handle any screen dimension which would be gathered from the DOM, but then I learned if I scaled the canvas it would still use the original dimensions the canvas, at least I can now make the snake bigger or smaller and have the rest of the game adjust automatically.
        I also made this a lot harder on myself by refusing to use a grid based system as I wanted to be able to move to true 360 degree movement with tank controls as well, but that will take some time.
        For now, enjoy an incredibly broken version of Snake.
    </div>
</div>